body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #e3f2fd, #fce4ec);
}

.container {
    display: flex;
    height: 100vh;
}

/* СОЛ ЖАҚ */
.sidebar {
    width: 260px;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 8px;
    background: #2b2b40;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar li.active {
    background: #4caf50;
}

/* ОРТА */
.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.teacher {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.code {
    width: 100%;
    height: 120px;
    font-family: monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.run-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.run-btn:hover {
    background: #43a047;
}

.output {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}

.result {
    margin-top: 10px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
}