{% extends "base.html" %}
{% block content %}

<h1>🔀 Шарттар (if / else)</h1>

<iframe width="100%" height="315"
src="https://www.youtube.com/embed/EKcp1xuM-l0"
allowfullscreen></iframe>

<p>
Шарттар бағдарламаның шешім қабылдауына көмектеседі.
Егер шарт дұрыс болса — бір код,
ал дұрыс болмаса — басқа код орындалады.
</p>

<h3>📘 Мысал код</h3>
<textarea rows="7" style="width:100%;" readonly>
age = int(input())
if age >= 18:
    print("Ересек")
else:
    print("Кәмелетке толмаған")
</textarea>

<h3>🧪 Практика</h3>
<a href="https://codepen.io/zlreibuh-the-sasster/pen/MYjgeLM"
   target="_blank"
   class="task-link">
   🔀 Шарттар тапсырмасы (CodePen)
</a>

{% endblock %}