<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <title>Цифрлық қауіпсіздік</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Цифрлық қауіпсіздік сайты</h1>
    <p>Бұл сайт адамдарға интернетте өзін қорғауды үйретеді.</p>

    <ul>
        <li><a href="/phishing">Алаяқтарды қалай тануға болады</a></li>
        <li><a href="/passwords">Аккаунтты қалай қорғау керек</a></li>
        <li><a href="/examples">Фишинг мысалдары</a></li>
        <li><a href="/hacked">Аккаунт бұзылса не істеу керек</a></li>
    </ul>
</div>

</body>
</html>